<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./../partialViews/head') %>
  <title>About Hospital</title>
</head>

<body>

  <!-- Navigation Bar-->
  <%- include('./../partialViews/navBar') %>

  <section class="hero heroAboutHospital">
    <div class="text">
      <h1>About Apollo Hospital</h1>
      <span>Home / Hospital Profile</span>
    </div>
  </section>

  <section class="mainContainer">
    <div class="firstSection">
      <div class="picContainer">
        <img src="../Images/hospital1.png" alt="Apollo Hospital" />
      </div>
      <div class="btnContainer">
        <button class="btn">Call Now</button>
      </div>
    </div>
    <div class="secondSection">
      <h2>Apollo Hospital</h2>
      <ul class="about">
        <li class="item">
          <i class="fas fa-map-marker-alt"></i>
          <span>Delhi Mathura Road, Sarita Vihar, Delhi 110076</span>
        </li>
        <li class="item"><i class="fas fa-bed"></i><span> 113 Beds</span></li>
      </ul>
      <p class="hsptPara">
        Apollo Hospitals has emerged as Asia's foremost integrated healthcare
        services provider and has a robust presence across the healthcare
        ecosystem, including Hospitals, Pharmacies, Primary Care & Diagnostics
        Clinics and several retail health models. The Group also has
        Telemedicine facilities across several countries. Health insurance
        Services, Global Projects Consultancy, Medical Colleges, Medvarsity
        for E-Learning, College of Nursing and Hospital Management and a
        Research Foundation. In addition, 'ASK Apollo' - an online
        consultation portal and Apollo Home Health provide the care continim.
      </p>
      <ul class="list">
        <li class="item item1">
          <h3 class="hsptHead">
            <i class="fas fa-award"></i><span>Specialization</span><span class="arrow active" id="arrow1"><i
                class="fas fa-chevron-down"></i></span>
          </h3>
          <p class="para para1 active">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis odio fugit tempora recusandae veritatis,
            cupiditate est et totam assumenda, tempore rem, alias deserunt.
            Quibusdam, explicabo pariatur? Laborum, inventore aspernatur.
          </p>
        </li>
        <li class="item item2">
          <h3 class="hsptHead">
            <i class="fas fa-stethoscope"></i><span>Famous Treatments</span><span class="arrow" id="arrow2"><i
                class="fas fa-chevron-down"></i></span>
          </h3>
          <p class="para para2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis odio fugit tempora recusandae veritatis,
            cupiditate est et totam assumenda, tempore rem, alias deserunt.
            Quibusdam, explicabo pariatur? Laborum, inventore aspernatur.
          </p>
        </li>
        <li class="item item3">
          <h3 class="hsptHead">
            <i class="fas fa-user-md"></i><span>Famous Doctors</span><span class="arrow" id="arrow3"><i
                class="fas fa-chevron-down"></i></span>
          </h3>
          <p class="para para3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis odio fugit tempora recusandae veritatis,
            cupiditate est et totam assumenda, tempore rem, alias deserunt.
            Quibusdam, explicabo pariatur? Laborum, inventore aspernatur.
          </p>
        </li>
        <li class="item item4">
          <h3 class="hsptHead">
            <i class="far fa-hospital"></i><span>Infrastructure</span><span class="arrow" id="arrow4"><i
                class="fas fa-chevron-down"></i></span>
          </h3>
          <p class="para para4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis odio fugit tempora recusandae veritatis,
            cupiditate est et totam assumenda, tempore rem, alias deserunt.
            Quibusdam, explicabo pariatur? Laborum, inventore aspernatur.
          </p>
        </li>
        <li class="item item5">
          <h3 class="hsptHead">
            <i class="fas fa-map-marker-alt"></i><span>Complete Address</span><span class="arrow" id="arrow5"><i
                class="fas fa-chevron-down"></i></span>
          </h3>
          <p class="para para5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis odio fugit tempora recusandae veritatis,
            cupiditate est et totam assumenda, tempore rem, alias deserunt.
            Quibusdam, explicabo pariatur? Laborum, inventore aspernatur.
          </p>
        </li>
        <li class="item item6">
          <h3 class="hsptHead">
            <i class="fas fa-h-square"></i><span>Hospital Packages</span><span class="arrow" id="arrow6"><i
                class="fas fa-chevron-down"></i></span>
          </h3>
          <p class="para para6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis odio fugit tempora recusandae veritatis,
            cupiditate est et totam assumenda, tempore rem, alias deserunt.
            Quibusdam, explicabo pariatur? Laborum, inventore aspernatur.
          </p>
        </li>
        <li class="item item7">
          <h3 class="hsptHead">
            <i class="fas fa-rupee-sign"></i><span>Hospital Charges</span><span class="arrow" id="arrow7"><i
                class="fas fa-chevron-down"></i></span>
          </h3>
          <p class="para para7">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis odio fugit tempora recusandae veritatis,
            cupiditate est et totam assumenda, tempore rem, alias deserunt.
            Quibusdam, explicabo pariatur? Laborum, inventore aspernatur.
          </p>
        </li>
        <li class="item item8">
          <h3 class="hsptHead">
            <i class="fas fa-id-card"></i><span>Membership</span><span class="arrow" id="arrow8"><i
                class="fas fa-chevron-down"></i></span>
          </h3>
          <p class="para para8">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis odio fugit tempora recusandae veritatis,
            cupiditate est et totam assumenda, tempore rem, alias deserunt.
            Quibusdam, explicabo pariatur? Laborum, inventore aspernatur.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <!--Query Section-->

  <section class="queryWrapper" id="queryWrapper">
    <h2>Need Help?</h2>
    <p>Just let us know. We will be happy to assist you.</p>
    <button type="submit" id="queryButton">Submit your Query</button>
  </section>

  <!--Footer Section-->
  <%- include('./../partialViews/footer') %>
</body>
<script type="text/javascript" src="../scripts/nevBar.js"></script>
<script type="text/javascript" src="../scripts/faqList.js"></script>

</html>