<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./../partialViews/head') %>
  <title>About Doctor</title>
</head>

<body>
  <!-- Navigation Bar-->
  <%- include('./../partialViews/navBar') %>

  <section class="hero heroAboutDoc">
    <div class="text">
      <h1>About John Nission</h1>
      <span>Home / Doctor Profile</span>
    </div>
  </section>

  <section class="mainContainer">
    <div class="firstSection">
      <div class="picContainer">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg"
          alt="John Nission" />
      </div>
      <div class="btnContainer">
        <button class="btn">Book an appointment</button>
      </div>
    </div>
    <div class="secondSection">
      <h2>John Nission</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi odit
        minima, cumque dolorem commodi, voluptate odio aspernatur delectus
        nemo, fugit aliquid sit! Tempora cumque voluptate, totam ducimus
        aspernatur porro aperiam.
      </p>
      <ul class="list">
        <li class="item item1">
          <h3> <i class="fas fa-award"></i>
            <span>Specialization</span>
            <span class="arrow active" id="arrow1"><i class="fas fa-chevron-down"></i></span>
          </h3>
          <p class="para para1 active">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis odio fugit tempora recusandae veritatis,
            cupiditate est et totam assumenda, tempore rem, alias deserunt.
            Quibusdam, explicabo pariatur? Laborum, inventore aspernatur.
          </p>
        </li>
        <li class="item item2">
          <h3>
            <i class="fas fa-stethoscope"></i><span>List Of Treatments</span><span class="arrow" id="arrow2"><i
                class="fas fa-chevron-down"></i></span>
          </h3>
          <p class="para para2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis odio fugit tempora recusandae veritatis,
            cupiditate est et totam assumenda, tempore rem, alias deserunt.
            Quibusdam, explicabo pariatur? Laborum, inventore aspernatur.
          </p>
        </li>
        <li class="item item3">
          <h3>
            <i class="far fa-hospital"></i><span>Work Experience</span><span class="arrow" id="arrow3"><i
                class="fas fa-chevron-down"></i></span>
          </h3>
          <p class="para para3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis odio fugit tempora recusandae veritatis,
            cupiditate est et totam assumenda, tempore rem, alias deserunt.
            Quibusdam, explicabo pariatur? Laborum, inventore aspernatur.
          </p>
        </li>
        <li class="item item4">
          <h3>
            <i class="fas fa-star"></i><span>Qualification</span><span class="arrow" id="arrow4"><i
                class="fas fa-chevron-down"></i></span>
          </h3>
          <p class="para para4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis odio fugit tempora recusandae veritatis,
            cupiditate est et totam assumenda, tempore rem, alias deserunt.
            Quibusdam, explicabo pariatur? Laborum, inventore aspernatur.
          </p>
        </li>
        <li class="item item5">
          <h3>
            <i class="fas fa-trophy"></i><span>Awards</span><span class="arrow" id="arrow5"><i
                class="fas fa-chevron-down"></i></span>
          </h3>
          <p class="para para5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis odio fugit tempora recusandae veritatis,
            cupiditate est et totam assumenda, tempore rem, alias deserunt.
            Quibusdam, explicabo pariatur? Laborum, inventore aspernatur.
          </p>
        </li>
        <li class="item item6">
          <h3>
            <i class="fas fa-map-marker-alt"></i><span>Location</span><span class="arrow" id="arrow6"><i
                class="fas fa-chevron-down"></i></span>
          </h3>
          <p class="para para6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis odio fugit tempora recusandae veritatis,
            cupiditate est et totam assumenda, tempore rem, alias deserunt.
            Quibusdam, explicabo pariatur? Laborum, inventore aspernatur.
          </p>
        </li>
        <li class="item item7">
          <h3>
            <i class="fas fa-rupee-sign"></i><span>Avg Fees</span><span class="arrow" id="arrow7"><i
                class="fas fa-chevron-down"></i></span>
          </h3>
          <p class="para para7">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis odio fugit tempora recusandae veritatis,
            cupiditate est et totam assumenda, tempore rem, alias deserunt.
            Quibusdam, explicabo pariatur? Laborum, inventore aspernatur.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <!--Query Section-->

  <section class="queryWrapper" id="queryWrapper">
    <h2>Need Help?</h2>
    <p>Just let us know. We will be happy to assist you.</p>
    <button type="submit" id="queryButton">Submit your Query</button>
  </section>

  <!--Footer Section-->
  <%- include('./../partialViews/footer') %>
</body>
<script type="text/javascript" src="../scripts/nevBar.js"></script>
<script type="text/javascript" src="../scripts/faqList.js"></script>

</html>