<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./../partialViews/head') %> 
   <title>FAQ Page</title></head>

<body>

  <!-- Navigation Bar-->
  <%- include('./../partialViews/navBar') %>
  
  <!--Hero Section-->
  <section class="hero heroFaq">
    <div class="text">
      <h1>FAQ</h1>
      <span>Home/FAQ</span>
    </div>
  </section>

  <!--Main Section-->
  <section class="faqContent">
    <ul class="list">
      <li class="item item1">
        <h3>
          <span>How do I make Payment?</span><span class="arrow active" id="arrow1"><i
              class="fas fa-chevron-down"></i></span>
        </h3>
        <p class="para active" id="para1">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti
          ab adipisci illum repudiandae architecto ratione deserunt debitis
          rerum est, non voluptatem inventore quisquam quis vel temporibus
          corporis atque pariatur harum iste nulla quos ullam? Enim.
        </p>
      </li>
      <li class="item item2">
        <h3>
          <span>There is not enough money in my Portal Wallet for making a
            payment. What do I do ?</span><span class="arrow" id="arrow2"><i class="fas fa-chevron-down"></i></span>
        </h3>
        <p class="para" id="para2">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti
          ab adipisci illum repudiandae architecto ratione deserunt debitis
          rerum est, non voluptatem inventore quisquam quis vel temporibus
          corporis atque pariatur harum iste nulla quos ullam? Enim.
        </p>
      </li>
      <li class="item item3">
        <h3>
          <span>Can I transfer balance in Portal Wallet balance to another
            user?</span><span class="arrow" id="arrow3"><i class="fas fa-chevron-down"></i></span>
        </h3>
        <p class="para" id="para3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti
          ab adipisci illum repudiandae architecto ratione deserunt debitis
          rerum est, non voluptatem inventore quisquam quis vel temporibus
          corporis atque pariatur harum iste nulla quos ullam? Enim.
        </p>
      </li>
      <li class="item item4">
        <h3>
          <span>Is Portal Money the same as Portal Waller ?</span><span class="arrow" id="arrow4"><i
              class="fas fa-chevron-down"></i></span>
        </h3>
        <p class="para" id="para4">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti
          ab adipisci illum repudiandae architecto ratione deserunt debitis
          rerum est, non voluptatem inventore quisquam quis vel temporibus
          corporis atque pariatur harum iste nulla quos ullam? Enim.
        </p>
      </li>
      <li class="item item5">
        <h3>
          <span>Refund?</span><span class="arrow" id="arrow5"><i class="fas fa-chevron-down"></i></span>
        </h3>
        <p class="para" id="para5">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti
          ab adipisci illum repudiandae architecto ratione deserunt debitis
          rerum est, non voluptatem inventore quisquam quis vel temporibus
          corporis atque pariatur harum iste nulla quos ullam? Enim.
        </p>
      </li>
      <li class="item item6">
        <h3>
          <span>What is a Family ID ?</span><span class="arrow" id="arrow6"><i class="fas fa-chevron-down"></i></span>
        </h3>
        <p class="para" id="para6">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti
          ab adipisci illum repudiandae architecto ratione deserunt debitis
          rerum est, non voluptatem inventore quisquam quis vel temporibus
          corporis atque pariatur harum iste nulla quos ullam? Enim.
        </p>
      </li>
      <li class="item item7">
        <h3>
          <span>Who can be added as Family ?</span><span class="arrow" id="arrow7"><i
              class="fas fa-chevron-down"></i></span>
        </h3>
        <p class="para" id="para7">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti
          ab adipisci illum repudiandae architecto ratione deserunt debitis
          rerum est, non voluptatem inventore quisquam quis vel temporibus
          corporis atque pariatur harum iste nulla quos ullam? Enim.
        </p>
      </li>
    </ul>
  </section>
  <!--Query Section-->

  <section class="queryWrapper" id="queryWrapper">
    <h2>Need Help?</h2>
    <p>Just let us know. We will be happy to assist you.</p>
    <button type="submit" id="queryButton">Submit your Query</button>
  </section>

  <!--Footer Section-->
  <%- include('./../partialViews/footer') %>
</body>
<script type="text/javascript" src="../scripts/nevBar.js"></script>
<script type="text/javascript" src="../scripts/faqList.js"></script>

</html>