<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./../partialViews/head') %>
  <title>Treatment</title>
</head>

<body>
  <!-- Navigation Bar-->
  <%- include('./../partialViews/navBar') %>

  <section class="hero heroTreatment">
    <div class="text">
      <h1>Dentistry</h1>
      <span>Home / Dentistry</span>
    </div>
  </section>

  <section class="contentTreatment">
    <div class="firstContainer">
      <h2>Vaccination</h2>
      <div class="picContainer">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg" alt="" />
      </div>
      <article class="info">
        <h3>About Dentist Department</h3>
        <p>
          The vaccination of dentist against various vaccine-preventable
          infections is the most important measure of primary prevention
          against such diseases which would otherwise prove fatal for both the
          dentist and other patients.
        </p>
        <ul class="customList">
          <li>CF-related diabetes (monthly)</li>
          <li>Gastrointestinal (monthly)</li>
          <li>CF-related lever disease (monthly)</li>
          <li>Sweat testing (three times per month)</li>
        </ul>
      </article>
    </div>
    <div class="cnt">
      <div class="sub">
        <div class="picContainer">
          <img src="../Images/icon1.jpg" alt="" />
        </div>
        <h3>Central Nervous System</h3>
        <p>
          Open visitation with only two visitors in a room at any time. No one
          under 12 years of age may.
        </p>
      </div>
      <div class="sub">
        <div class="picContainer">
          <img src="../Images/icon2.jpg" alt="" />
        </div>
        <h3>Allergic Disorders</h3>
        <p>
          Open visitation with only two visitors in a room at any time. No one
          under 12 years of age may.
        </p>
      </div>
      <div class="sub">
        <div class="picContainer">
          <img src="../Images/icon3.jpg" alt="" />
        </div>
        <h3>Neoplastic Disorders</h3>
        <p>
          Open visitation with only two visitors in a room at any time. No one
          under 12 years of age may.
        </p>
      </div>
    </div>
    <div class="details">
      <div class="card card1">
        <h3>Service Details</h3>
        <ul class="info">
          <li>
            <h4><span>Price</span><span>from $340</span></h4>
          </li>
          <li>
            <h4><span>Duration</span><span>10 Minutes</span></h4>
          </li>
          <li>
            <h4><span>Office</span><span>#46</span></h4>
          </li>
          <li>
            <h4><span>Doctor</span><span>Dr. Elixabeth Beard</span></h4>
          </li>
          <li>
            <h4><span>Categories</span><span>Family Medicine</span></h4>
          </li>
        </ul>
      </div>
      <div class="card card2">
        <h3>Schedule</h3>
        <ul class="info">
          <li>
            <h4><span>Tuesday</span><span>10:00am - 01:00pm</span></h4>
          </li>
          <li>
            <h4><span>Friday</span><span>07:00am - 10:00pm</span></h4>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="services">
    <h2>More Services</h2>
    <ul class="navigation">
      <li>
        <i class="fas fa-less-than"></i>
      </li>
      <li>
        <i class="fas fa-greater-than"></i>
      </li>
    </ul>
    <div class="cards">
      <div class="card card1">
        <div class="picContainer">
          <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="" />
        </div>
        <h3>Orthopedic Surgery</h3>
      </div>
      <div class="card card2">
        <div class="picContainer">
          <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="" />
        </div>
        <h3>Cancer</h3>
      </div>
      <div class="card card3">
        <div class="picContainer">
          <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="" />
        </div>
        <h3>Cardiology</h3>
      </div>
    </div>
  </section>
  <!--Footer Section-->
  <%- include('./../partialViews/footer') %>

</body>
<script type="text/javascript" src="../scripts/nevBar.js"></script>

</html>